<!DOCTYPE html>
<html>
  <head>
    <title>Level 1 - CODE HOUR</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="container">
          <h1 class="heading-primary">CODE HOUR</h1>
          <h3 class="heading-primary">"Talk is cheap. Show me the code."</h3>
          <div class="accordion">
            <dl>
              <dt>
                <a href="#rules" aria-expanded="false" aria-controls="rules" class="accordion-title accordionTitle js-accordionTrigger">Rules and Regulations</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="rules" aria-hidden="true">
                <p><b>GUIDELINES:</b><br>
                  <ul>
                    <li>You have to complete all the tasks within 1 hour. In case no team is able to solve all the tasks in the given time, an entended time of 15 minutes will be provided to all.</li>
                    <li>Time is a critical point in this competition. try to complete the tasks in the least possible time.</li>
                    <li>All the tasks are to be submitted together in a folder. Once you submit the tasks, you will not be able to make any changes.</li>
                    <li>In case the source code submitted by the first team passes all the test cases, no other team's code will be tested.</li>
                    <li>The participant found using mobile (without permission) or internet will be eliminated on the spot.</li>
                    <li>The coordinators has the right to kick you out of the competition if you misbehave or create disturbance.</li>
                    <li>In case of any discrepency, the decision of the organisors will be final.</li>
                  </ul>
                  <br><br>
                  <b>CODE CHALLENGE - THE TWIST:</b>
                  <ul>
                    <li>You are LEVEL 1 coders. If you complete all the tasks before the LEVEL 2 winning team, you will have the opportunity to <b>challenge</b> them and win their prize money as well.</li>
                    <li>You will have to complete any 4/5 tasks of LEVEL 2 within the time taken by the LEVEL 2 winners.</li>
                    <li>The LEVEL 2 winners may have completed their challenge before you guys. In that case, they will have the authority to challenge the LEVEL 1 winners. They will have to complete all the tasks within 60% of the time taken by the LEVEL 1 winners.</li>
                  </ul><br><br>
                  <b>CASH PRIZES:</b>
                  <ul>
                    <li>The winner of first challenge will win Rs 375.</li>
                    <li>If you challenge LEVEL 2 winners and <b>win</b>, you will get Rs 1000.</li>
                    <li>If you challenge LEVEL 2 winners and <b>loose</b>, you will get 0 and the LEVEL 2 winners will get Rs 750.</li>
                  </ul>
                </p>
              </dd>
              <dt>
                <a href="#assignment1" aria-expanded="false" aria-controls="assignment1" class="accordion-title accordionTitle js-accordionTrigger">Assignment 1</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment1" aria-hidden="true">
                <p>During the fun day, TSS is planning to conduct some team games. We want to split the participating students into equal sized teams. In some cases, there may be some students who are left out from teams and they will be used to assist him in conducting the team games.<br><br>

                The team size can vary from 7-10. You have to make sure that the least number of students are left out.<br><br>

                You are required to automate this team splitting task. Can you please help us out and tell us the team size, numbre of teams and the number of students left out by taking the total number of students as an input?<br><br>

                For instance<br><b>INPUT:</b><br>No of students: 50<br><b>OUTPUT:</b><br>Team Size:7<br>No of Teams:7<br>Left out students:1 </p>
              </dd>
              <dt>
                <a href="#assignment2" aria-expanded="false" aria-controls="assignment2" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 2
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment2" aria-hidden="true">
                <p>Let's call two numbers friend numbers if they have at least one common digit.<br><br>
                <b>Example:</b> 1123 and 3981 are friend numbers.<br><br>
                Check whether a two numbers are friends or not.<br><br>
                For instance<br><b>INPUT:</b><br>Number 1: 112<br>Number 2: 3234<br><b>OUTPUT:</b><br>Yes.<br></p>
              </dd>
              <dt>
                <a href="#assignment3" aria-expanded="false" aria-controls="assignment3" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 3
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment3" aria-hidden="true">
                <p>A Pythagorean triplet is a set of three natural numbers, a < b < c, for which, a2 + b2 = c2<br>
                For example, 32 + 42 = 9 + 16 = 25 = 52.<br><br>
                There exists exactly one Pythagorean triplet for which a + b + c = 1000.<br>
                Find the product <i>abc</i>.<br><br>
                <span style="color:red;">NOTE for LEVEL 2 participants:<br>
                The complexity of the program must be less than cube(n).</span></p>
              </dd>
              <dt>
                <a href="#assignment4" aria-expanded="false" aria-controls="assignment4" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 4
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment4" aria-hidden="true">
                <p>Swap first and last digit of a given number.<br><br>
                For instance<br><b>INPUT:</b><br>4213<br><b>OUTPUT:</b><br>3214<br><br>
                <span style="color:red;">NOTE for LEVEL 2 participants:<br>
                You cannot use any iterative constructs or recursive functions.
                </p>
              </dd>
              <dt>
                <a href="#assignment5" aria-expanded="false" aria-controls="assignment5" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 5
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment5" aria-hidden="true">
                <p>Check whether a password is valid or not.<br>
                Conditions to be satisfied:<br>
                1. Length must be between 8-25 characters.<br>
                2. Must have one upper case letter.<br>
                3. Must have at least two special characters.<br>
                4. Must have 1 number.<br><br>
                Format the output as per your own choice. An interactive program will be given preference.<br><br>
                <span style="color:red;">NOTE for LEVEL 2 participants:<br>
                The program must keep on running and informing about the errors untill a valid password is entered. </p>
              </dd>
            </dl>
          </div>
        </div>
  </body>
  <script type="text/javascript" src="index.js"></script>
</html>
