<!DOCTYPE html>
<html>
	<head>
		<title> Level 2 - CODE HOUR </title>
		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>
		<div class="container">
          <h1 class="heading-primary">CODE HOUR</h1>
          <h3 class="heading-primary">"Talk is cheap. Show me the code."</h3>
          <div class="accordion">
            <dl>
              <dt>
                <a href="#rules" aria-expanded="false" aria-controls="rules" class="accordion-title accordionTitle js-accordionTrigger">Rules and Regulations</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="rules" aria-hidden="true">
                <p><b>GUIDELINES:</b><br>
                  <ul>
                    <li>You have to complete all the tasks within 1 hour. In case no team is able to solve all the tasks in the given time, an entended time of 15 minutes will be provided to all.</li>
                    <li>Time is a critical point in this competition. try to complete the tasks in the least possible time.</li>
                    <li>All the tasks are to be submitted together in a folder. Once you submit the tasks, you will not be able to make any changes.</li>
                    <li>In case the source code submitted by the first team passes all the test cases, no other team's code will be tested.</li>
                    <li>The participant found using mobile (without permission) or internet will be eliminated on the spot.</li>
                    <li>The coordinators has the right to kick you out of the competition if you misbehave or create disturbance.</li>
                    <li>In case of any discrepency, the decision of the organisors will be final.</li>
                  </ul>
                  <br><br>
                  <b>CODE CHALLENGE - THE TWIST:</b>
                  <ul>
                    <li>You are LEVEL 2 coders. If you complete all the tasks before the LEVEL 1 winning team, you will have the opportunity to <b>challenge</b> them and win their prize money as well.</li>
                    <li>You will have to complete all tasks of LEVEL 1 within 60% of the time taken by the LEVEL 1 winners.</li>
                    <li>The LEVEL 1 winners may have completed their challenge before you guys. In that case, they will have the authority to challenge the LEVEL 1 winners. They will have to complete any 4/5 tasks of LEVEL 2 within the time taken by the LEVEL 2 winners.</li>
                  </ul><br><br>
                  <b>CASH PRIZES:</b>
                  <ul>
                    <li>The winner of first challenge will win Rs 375.</li>
                    <li>If you challenge LEVEL 1 winners and <b>win</b>, you will get Rs 1000.</li>
                    <li>If you challenge LEVEL 1 winners and <b>loose</b>, you will get 0 and the LEVEL 1 winners will get Rs 750.</li>
                  </ul>
                </p>
              </dd>
              <dt>
              <dt>
                <a href="#assignment1" aria-expanded="false" aria-controls="assignment1" class="accordion-title accordionTitle js-accordionTrigger">Assignment 1</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment1" aria-hidden="true">
                <p>Remove all occurances of a digit from a number and print the new obtained number else print -1<br><br>
                For Instance:<br><b>Input:</b><br>Number: 23453<br>Digit to remove: 3<br><b>Output:</b><br>245
								<p><red>NOTE for LEVEL 2 participants:<br>
									You cannot number into string.
									<red></p>
							</dd>
              <dt>
                <a href="#assignment2" aria-expanded="false" aria-controls="assignment2" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 2
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment2" aria-hidden="true">
                <p>By starting at the top of the triangle (having n rows) and moving to adjacent numbers on the rows below, find the maximum possible total of the elements. You need to display the elements you have selected and the total.<br><br>
									Example:<br />
									INPUT:<br />
									n=4<br />
									Row 1: 3<br />
									Row 2: 7 4<br />
									Row 3: 2 4 6<br />
									Row 4: 8 5 9 3<br />
								<br />
									OUTPUT:<br />
									3 + 7 + 4 + 9 = 23<br />
								<br />
									TREE (For reference):<br />
								&nbsp;&nbsp;&nbsp;<red>3</red><br />
								&nbsp;&nbsp;<red>7</red> 4<br />
								 &nbsp;2 <red>4</red> 6<br />
								8 5 <red>9</red> 3 <br />
								</p>
              </dd>
              <dt>
                <a href="#assignment3" aria-expanded="false" aria-controls="assignment3" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 3
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment3" aria-hidden="true">
                <p>HTML STRING PARSER
                <br><br>
                Read an HTML file and replace the strings written within in the <i>span</i> tags with the <i>replace</i> attribute. Print the complete modified message as the output.<br><br>
                For Instance:<br>
                <b>SAMPLE HTML CODE</b><br>
                "&lt;div&gt;&lt;span&gt;Welcome to the webpage of&lt;/span&gt;&lt;br&gt;&lt;span <red>replace</red>&gt;NAME&lt;/span&gt;&lt;/div&gt;"
                <br><br>
                <b>Decoding Information:</b><br>
                The decoding information will be available in key-value pairs.Like:
                <br>NAME: Technical Student Society<br>ADDRESS: GNDU<br>
                You can use such information and implement it in the program using a suitable data structure.<br><br>
                <b>SAMPLE OUTPUT:</b><br>
                Welcome to the webpage of Technical Student Society
                </b>
                </p>
								<p><red>NOTE: In case you do not remember file parsing you can parse HTML code as string.<red></p>
              </dd>
              <dt>
                <a href="#assignment4" aria-expanded="false" aria-controls="assignment4" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 4
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment4" aria-hidden="true">
                <p>A Needle in the Haystack<br><br>
                Write a program that finds all occurences of a given pattern in a given input string. This is often referred to as finding a needle in a haystack.<br>
                The program has to detect all occurences of the needle in the haystack. It should take the needle and the haystack as input, and output the positions of each occurence, as shown below:<br><br>
                <b>INPUT:</b><br>
                Needle : foobarfoo<br>
                Haystack: barfoobarfoobarfoobarfoobarfoo<br>
                <b>OUTPUT:</b><br>
                3<br>
                9<br>
                15<br>
                21<br></p>
								<p><red>NOTE for LEVEL 2 participants:<br>
										You cannot use any inbuilt functions.
									<red></p>
              </dd>
              <dt>
                <a href="#assignment5" aria-expanded="false" aria-controls="assignment5" class="accordion-title accordionTitle js-accordionTrigger">
                  Assignment 5
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="assignment5" aria-hidden="true">
                <p>GST CALCULATOR<br><br>
                  You have to develop a POINT-OF-SALES system to which you have to pass the ID of the items to be added in the bill. The products are divided into 4 categories each having different tax-slabs [5%, 12%, 18%, 28%].<br>
                  Add a few products in each category by yourself where each product must have 4 properties:
                  <ul>
                    <li>ID</li>
                    <li>NAME</li>
                    <li>PRICE</li>
                    <li>TAX-RATE</li>
                  </ul>
                  The INPUT should include the number of items and ID of each item.<br>
                  The OUTPUT must display the bill with 5 columns:<br>
                  <b>ID - NAME - PRICE - GST - TOTAL AMOUNT</b><br>
                  At the end of the list, display the total amount to be paid by the customer.<br><br>
                  <red>NOTE: If any ID is passed against which no product exists, such products should be mentioned at the end of the list as UNTRACKED PRODUCTS.<red>
                </p>
              </dd>
            </dl>
          </div>
        </div>
	</body>
	<script type="text/javascript" src="index.js"></script>
</html>
